img {
    height: 40%;
    width:  40%;
}

.infos mat-list-item{
    color: black;
    font-size: small;
    font-weight:bold;
}

.repos{
    width: 50%;
    margin-right: 6%;
}

.userName{margin: 3% 0 0 2%}

h1{font-weight: bolder;}

.follow{padding-left: 1% ;}

h4{width: 40%;}
