h1 {
  margin-bottom: 10px;
}

.main {
  min-height: 90.8%;
  padding: 40px 40px;
  background-color: #262525;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
}

.userInformations {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}

img {
  max-width: 50%;
  max-height: 100%;
  border-radius: 100%;
  margin: 0 10px 0px 0;
}

.profileName {
  width: 100%;
}

.bio {
  width: 50%;
  margin-top: 15px;
  color: #a8a0a0;
}

::ng-deep.mat-list-item-content {
  padding: 0 !important;
  width: 100% !important;
}

.profileInformations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileInformations mat-list-item {
  color: #fff;
  font-size: small;
  padding: 0;
  margin-right: 10px;
}

mat-icon {
  margin-right: 5px;
}

.repositories {
  width: 45%;
}

.repositories mat-expansion-panel {
  margin-bottom: 3%;
}

.repositoriesDescription {
  color: #a8a0a0;
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    min-width: 80%;
    min-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .profile {
    width: 100%;
  }

  .userInformations {
    display: flex;
    flex-direction: column;
  }

  img {
    margin: 10px 0;
  }

  .bio {
    width: 100%;
  }

  .repositories {
    width: 100%;
    margin-top: 20px;
  }
}
