<div class="main">
  <div class="profile">

    <div class="userInformations">
      <img src="https://avatars.githubusercontent.com/u/{{userData.id}}?v=4" alt="img">
      <div class="profileName">
        <h1>{{userData.name}}</h1>
        <h2>{{userData.login}}</h2>
      </div>
    </div>

    <h4 class="bio"> {{userData.bio}} </h4>

    <mat-list class="profileInformations">

      <mat-list-item>
        <mat-icon>people</mat-icon>
        Followers: {{userData.followers}}
      </mat-list-item>

      <mat-list-item>
        <mat-icon>people</mat-icon>
        Following: {{userData.following}}
      </mat-list-item>

      <mat-list-item *ngIf="userData.location">
        <mat-icon>room</mat-icon>
        Location: {{userData.location}}
      </mat-list-item>

      <mat-list-item *ngIf="userData.company">
        <mat-icon>business_center</mat-icon>
        Work: {{userData.company}}
      </mat-list-item>

    </mat-list>
  </div>

  <div class="repositories">
    <h1 fxLayoutAlign="center">Repositórios</h1>
    <mat-accordion *ngFor="let repos of repositoriesData">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign="center">
            {{repos.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="repos.description" class="repositoriesDescription"> {{repos.description}}</p>
        <p *ngIf="repos.language">Linguagem mais usada: {{repos.language}}</p>
        <p>Criado em: {{repos.created_at | date}} </p>
        <p>Atualizado em: {{repos.updated_at | date}} </p>
        <p>Forks: {{repos.forks}}</p>
        <p>Visto: {{repos.watchers}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>